body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #eef6ff;
}

/* Center card */
.center-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  padding: 35px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
  color: #0077ff;
  font-weight: 700;
  margin-bottom: 20px;
}

.card input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #bcd0ff;
  font-size: 16px;
}

.card button {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background: #005fcc;
}

.switch-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.switch-text span {
  color: #0077ff;
  cursor: pointer;
}
