body{
    background:#eef6ff;
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand{
    font-size:1.7rem;
    font-weight:700;
}

.chat-box{
    height: 75vh;
    overflow-y: auto;
    padding:20px;
    scroll-behavior:smooth;
}

.message.user{
    background:#0d6efd;
    color:white;
    align-self:flex-end;
}

.message.bot{
    background:white;
    border:1px solid #d8d8d8;
}

.message{
    padding:10px 14px;
    border-radius:10px;
    max-width:70%;
    margin-bottom:10px;
}

.input-area{
    bottom:0;
    width:100%;
    background:white;
    padding:10px;
    border-top:1px solid #e0e0e0;
}
